<!-- Alert PENSA dones -->
<div class="alert alert-pensa-dones" role="alert">
    <div class="row">
        <div class="col-sm" style="border-right: solid 0.125rem #333; display: flex;">
            <div class="pensa-dones-circle-icon"></div>
            <p class="h1">10.2 % <sup><small><u>Dones</u></small></sup></p>
        </div>
        <div class="col-sm">
            <p class="h6">No es poden permetre mantenir el seu habitatge a una temperatura adequada durant els mesos
                freds.</p>
        </div>
    </div>
</div>