<!-- #nav-contact -->
<article>
    <div class="article-content">
        <p style="margin-bottom: 0; color: #777; border-bottom: solid 1px #e7e7e7;"><small>CRÈDITS I AUTORIES</small>
        </p>
        <br>
        <div class="row align-items-start">
            <div class="col">
                <p style="margin-bottom: 0 !important;"><strong>Pobresa energètica i salut a Barcelona (PENSA)</strong>
                </p>
                <p><a href="#" style="color: #3095b4 !important;">https://aspb.shinyapps.io/PENSA/</a></p>

                <br>
                <p class="h4" style="font-weight: 400;"><u><strong>Coordinació</strong> general</u> del web</p>
                <ul>
                    <li>Marc Marí Dell’Olm0</li>
                    <li>Laura Oliveras Puig</li>
                </ul>

                <br>
                <p class="h4" style="font-weight: 400;"><strong>Autoria</strong> i <u>redacció</u></p>
                <ul>
                    <li>Marc Marí-Dell’Olmo, Agència de Salut Pública de Barcelona (ASPB)</li>
                    <li>Laura Oliveras, Agència de Salut Pública de Barcelona (ASPB)</li>
                    <li>Laia Palència, Agència de Salut Pública de Barcelona (ASPB)</li>
                    <li>Lucía Artazcoz, , Agència de Salut Pública de Barcelona (ASPB)</li>
                    <li>Carme Borrell, Agència de Salut Pública de Barcelona (ASPB)</li>
                    <li>Mercè Gotsens, Agència de Salut Pública de Barcelona (ASPB)</li>
                    <li>María José López, Agència de Salut Pública de Barcelona (ASPB)</li>
                    <li>Andrés Peralta, Agència de Salut Pública de Barcelona (ASPB)</li>
                    <li>Carlos Vergara-Hernández, Universitat de València (UV)</li>
                    <li>Miguel Ángel Martínez Beneito, Universitat de València (UV)</li>
                    <li>Irene González-Pijuan, Sheffield Hallam University (SHU)</li>
                </ul>
            </div>
            <div class="col">
                <p class="h4" style="font-weight: 400;"><strong>Col·laboració</strong></p>
                <ul>
                    <li>Pau Satorra, Institut d’Investigació Biomèdica de Bellvitge (IDIBELL)</li>
                    <li>Rocío Barbero, Agència de Salut Pública de Barcelona (ASPB)</li>
                    <li>Ana Caillabete, Agència de Salut Pública de Barcelona (ASPB)</li>
                    <li>Beatríz Román, Agència de Salut Pública de Barcelona (ASPB)</li>
                </ul>

                <br>
                <p class="h4" style="font-weight: 400;"><strong>Agraïments</strong></p>
                <p>PENDENT (Si algú ho revisa).</p>

                <br>
                <p class="h4" style="font-weight: 400;"><strong>Cita</strong> recomanada</p>
                <p>COliveras L, Palència L, Artazcoz L, Borrell C, Gotsens M, López MJ, Peralta A, Vergara-Hernández C,
                    Martínez
                    Beneito MA, González-Pijuan I, Marí-Dell’Olmo M. Pobresa energètica i salut a Barcelona (PENSA).
                    Barcelona:
                    Agència de Salut Pública de Barcelona; 2022. <a href="#"
                        style="color: #3095b4 !important;">https://aspb.shinyapps.io/PENSA/</a></p>

                <br>
                <p class="h4" style="font-weight: 400;">Institucions <strong>col·laboradores</strong></p>
                <div class="collaborators-logos">
                    <img src="img/logo-PENSA.jpg" alt="Logo" width="80" height="auto" class="collaborator-logo">
                    <img src="img/logo-CIBER.jpg" alt="Logo" width="106" height="auto" class="collaborator-logo">
                    <img src="img/logo-ISCIII.jpg" alt="Logo" width="168" height="auto" class="collaborator-logo">
                </div>
            </div>
        </div>
    </div>
</article>