<!-- #nav-home -->
<article>
    <div class="article-content">
        <p style="margin-bottom: 0; color: #777;"><small>PRESENTACIÓ</small></p>
        <p class="display-5" style="font-weight: 400;"><u>Pobresa</u> <strong>energètica</strong> i
            <strong>salut</strong> a Barcelona <strong>(PENSA)</strong></p>
        <br>
        <p class="h3" style="font-weight: 400;">La <u>pobresa energètica</u> i els seus <strong>efectes sobre la
                salut</strong> a la ciutat de Barcelona</p>
        <br>
        <p>Els subministraments d’electricitat, aigua I gas són essencials per a garantir un habitatge
            digne i saludable. A Barcelona, moltes llars no disposen d’un nivell adequat de serveis
            d’energia per a satisfer les seves necessitats materials I socials. Aquestes, per tant,
            viuen una situació de pobresa energètica.</p>
        <p>Nombrosos estudis demostren que la pobresa energètica té un important impacte sobre la salut
            I el benestar de les persones. D’una banda, les temperatures inadequades dins la llar durant
            els mesos freds i càlids, la presència d’humitats, podridura o altres problemes físics de
            l’habitatge i les dificultats Per pagar factures o l’acumulació de deute tenen un efecte
            directe sobre la salut física i mental de les persones. D’altra banda, l’impacte de la
            pobresa energètica sobre les activitats del dia a dia com el treball remunerat i de cures,
            l’estudi o l’oci també té efectes indirectes sobre la salut i el benestar, com ara
            l’estigmatització o la reducció de la interacció social.</p>
        <p>A més, la pobresa energètica no es distribueix de forma homogènia a la nostra ciutat. Afecta
            més alguns barris i certs grups socials com, per exemple, les dones, les persones de classes
            socials més desafavorides o les persones nascudes en països de renda baixa. Així doncs, la
            pobresa energètica actua com a amplificador de les desigualtats socials en salut.</p>
        <p>A l’Agència de Salut Pública de Barcelona (ASPB), hem desenvolupat un lloc web interactiu per
            difondre el coneixement que hem generat sobre la distribució de la pobresa energètica a la
            ciutat i els efectes sobre la salut que aquesta comporta. En aquest web trobareu la
            informació següent:</p>
        <ol>
            <li>Indicadors de pobresa energètica segons sexe, edat, país de naixement i classe social.
            </li>
            <li>Distribució geogràfica per barris de diversos indicadors de pobresa energètica, així com
                d’un índex compost.</li>
            <li>Relació entre la pobresa energètica i la salut: dades d’associació i impacte de la
                pobresa energètica i l’estat de salut, l’ús de serveis sanitaris i l’ús de fàrmacs.</li>
        </ol>
        <p>Aquest lloc web es troba en constant desenvolupament. Trobareu informació detallada sobre la
            metodologia utilitzada i l’enllaç a diverses publicacions científiques a la pestanya de
            metodologia.</p>
    </div>
</article>