<!-- Navbar -->
<nav class="navbar bg-body-tertiary" style="height: 65px;">
    <div style="height: 5px; width: 100%; background-image: linear-gradient(45deg, #009EC9 0%, #5BE1FF 50%); position: absolute; top: 0;"></div>
    <div class="container-fluid">
        <a class="navbar-brand-aspb" href="#">
            <img src="img/ASPBimago_black.svg" alt="Logo" width="82" height="auto" class="d-inline-block align-text-top">
        </a>
        <p class="h4 navbar-h4" style="width: 100%; position: absolute; text-align: center; padding: 0; margin-bottom: 0;">
            Pobresa energètica i salut a Barcelona (PENSA)
        </p>
    </div>
</nav>