<!-- Sidebar inici -->
<p class="h5">Pobresa energètica i salut a Barcelona (PENSA)</p>
<p class="h6">Barcelona 2016</p>
<hr class="divider">
<p>Contingut de la pàgina</p>
<nav class="nav flex-column">
    <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#nav-home" role="tab" aria-controls="nav-home"
        aria-selected="true">Presentació</a>
    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#nav-profile" role="tab" aria-controls="nav-profile"
        aria-selected="false">Metodologia</a>
    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#nav-contact" role="tab" aria-controls="nav-contact"
        aria-selected="false">Crèdits i autories</a>
</nav>